[Desktop Entry]
Version=1.0
Type=Link
Name=mozilla/pdf.js: PDF Reader in JavaScript
Comment=
Icon=user-bookmarks
URL=https://github.com/mozilla/pdf.js
